@import "./variables.scss";

body {
  font-family: sans-serif;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  text-align: left;
  color: inherit;
}

h1 {
  flex: 1;
  font-size: 2rem;
  line-height: $header-height;
  text-align: center;
}

@media (max-width: 25rem) {
  h1 {
    font-size: 1.25rem;
  }
}
